
/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* Pozicionálás */

.profile-card {
  width: 450px;
  max-width: calc(100vw - 10px);
  height: 350px;
  max-height: calc(100vw - 10px);
}

body {
  display: flex;
  justify-content: center;
  align-items:center;
  font-family:fantasy;
  text-align: justify;
}
body {
  height: 100vh;
  background: url('hatter.jpg') no-repeat center center;
  background-size: cover;
}

.profile-card {
  background-color: hsla(0,0%,50%, .85);
  border-radius: 45px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  float: right;
}

.header{
    height: 35%;  
    background-color:blanchedalmond;
    border-radius: 45px 45px 0 0;
}

.downer{
    height: 65%;
    margin:20p;
    background: url('medicines-medical-supplies-placed-blue_1150-19154.jpg') no-repeat center center;
  background-size: cover;
    border-radius: 0 0 45px 45px;
}

.content{
    margin: 0 20px;
    margin-top: px;
}
.links{
    margin: 0 20px;
}

img {
  width: 120px;
  height: 145px;
  border-radius: 45px 0;
  float: left;
  margin: 20px 0 0 20px;
  border:2px solid black;
  
}

.name-headline{
    float: left;
    margin: 40px;
}

h1{
    font-size: 20px;
}

.break{
    height:25%;
}

ul {
  list-style-type: none;
    float: left;
}









img:hover {
  transition: all .7s ease-in-out;
    transform: rotateX(10deg) rotateY(-180deg);
    border-radius: 50px;
}
